<h3>Hay cambio de direccion???</h3>
<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
  <input type="checkbox" id="switch-1" class="mdl-switch__input" >
  <span class="mdl-switch__label">Barra 1</span>
</label>
<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
  <input type="checkbox" id="switch-2" class="mdl-switch__input" >
  <span class="mdl-switch__label">Barra 2</span>
</label>
<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3">
  <input type="checkbox" id="switch-3" class="mdl-switch__input" >
  <span class="mdl-switch__label">Barra 3</span>
</label>
<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-4">
  <input type="checkbox" id="switch-4" class="mdl-switch__input" >
  <span class="mdl-switch__label">Barra 4</span>
</label>
<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-5">
  <input type="checkbox" id="switch-5" class="mdl-switch__input" >
  <span class="mdl-switch__label">Barra 5</span>
</label>
<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-6">
  <input type="checkbox" id="switch-6" class="mdl-switch__input" >
  <span class="mdl-switch__label">Barra 6</span>
</label>
<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-7">
  <input type="checkbox" id="switch-7" class="mdl-switch__input" >
  <span class="mdl-switch__label">Barra 7</span>
</label>
<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-8">
  <input type="checkbox" id="switch-8" class="mdl-switch__input" >
  <span class="mdl-switch__label">Barra 8</span>
</label>
<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-9">
  <input type="checkbox" id="switch-9" class="mdl-switch__input" >
  <span class="mdl-switch__label">Barra 9</span>
</label>
<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-10">
  <input type="checkbox" id="switch-10" class="mdl-switch__input" >
  <span class="mdl-switch__label">Barra 10</span>
</label>
<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-11">
  <input type="checkbox" id="switch-11" class="mdl-switch__input" >
  <span class="mdl-switch__label">Barra 11</span>
</label>
<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-12">
  <input type="checkbox" id="switch-12" class="mdl-switch__input" >
  <span class="mdl-switch__label">Barra 12</span>
</label>
<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-13">
  <input type="checkbox" id="switch-13" class="mdl-switch__input" >
  <span class="mdl-switch__label">Barra 13</span>
</label>
<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-14">
  <input type="checkbox" id="switch-14" class="mdl-switch__input" >
  <span class="mdl-switch__label">Barra 14</span>
</label>
<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-15">
  <input type="checkbox" id="switch-15" class="mdl-switch__input" >
  <span class="mdl-switch__label">Barra 15</span>
</label>
<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-16">
  <input type="checkbox" id="switch-16" class="mdl-switch__input" >
  <span class="mdl-switch__label">Barra 16</span>
</label>

