<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar1">Barra 1</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra1"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar2">Barra 2</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra2"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">

    <span class="mdl-badge" data-badge="0" id="bar3">Barra 3</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra3"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar4">Barra 4</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra4"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar5">Barra 5</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra5"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar6">Barra 6</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra6"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar7">Barra 7</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra7"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar8">Barra 8</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra8"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar9">Barra 9</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra9"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar10">Barra 10</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra10"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar11">Barra 11</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra11"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar12">Barra 12</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra12"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar13">Barra 13</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra13"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar14">Barra 14</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra14"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar15">Barra 15</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra15"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar16">Barra 16</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra16"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
</div>
