<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar1">Barra 1</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra1"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar2">Barra 2</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra2"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">

    <span class="mdl-badge" data-badge="0" id="bar3">Barra 3</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra3"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
    <span class="mdl-badge" data-badge="0" id="bar4">Barra 4</span>
    <input class="mdl-slider mdl-js-slider" type="range" id="barra4"
           min="-30" max="30" value="0" tabindex="0"/>
  </div>
</div>
